<!DOCTYPE>
<html lang="en">
<head>
  <title>Reject Class</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: #F5F5F5; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5;">
  <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
    <p style="float: right;"> <%= image_tag attachments['lingoamojr.png'].url %> </p>
    <h3 style="color: #333333; text-align: left;"><strong>Rejected Class Notification</strong></h3>
    <p style="color: #333333;text-align: center;"><strong>Hi <%= @student.first_name%>, </strong></p>
<p style="color: #333333;text-align: center;"><strong>Unfortunately Teacher has rejected your choosen time for 1-on-1 class</strong></p>
<p style="color: #333333;text-align: center;"><strong>Please see the below details of class </strong></p>
<p>Date  :  <%= @class_date %></p>
<p>Time  : 	<%= @class_time %></p>
<br><br>
<p style="color: #333333;text-align: center;"><strong>We apologise for the inconvenience.</strong></p>
<p style="color: #333333;text-align: center;"><strong>Best regards</strong></p>


 <p style="color: #333333;text-align: center;"><strong>The Lingoamo team</strong></p>
 </div>
</body>
</html>
